util/file_piece.cc.gz
*.swp
*.o
paper/acl2014.log
paper/acl2014.aux
paper/acl2014.pdf
doc/
build/
bin/
lib/
tests/
._*
windows/Win32
windows/x64
windows/*.user
windows/*.sdf
windows/*.opensdf
windows/*.suo
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
compile_commands.json
